.inputForm {
  display: flex;
  flex-direction: column;
}

label {
  font-family: var(--ff-roboto);
  text-transform: uppercase;
  color: var(--clr-labelBlack);
  font-size: 12px;
  font-weight: 600;
  line-height: 300%;
  letter-spacing: 1.86px;
}

input {
  padding: 15px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.13);
  background: var(--clr-white);
}

input {
  /* typography */
  font-family: var(--ff-inter);
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.875px;
}

input::placeholder {
  color: var(--clr-placeholder);
}

.div3 input {
  width: 10vw;
}

.div4 input {
  width: 10vw;
}

span {
  font-family: var(--ff-inter);
  font-size: 10px;
  color: var(--clr-warning);
  visibility: hidden;
  text-transform: capitalize;
  line-height: 200%;
}

input:invalid[focused="true"] {
  border: 1px solid var(--clr-warning);
}

input:invalid[focused="true"] ~ span {
  display: block;
  visibility: visible;
}
