.background {
  background: url(./assets/RectangleJpeg.jpg);
  background-repeat: no-repeat;
  height: 100vh;
}

.flexbox {
  display: flex;
  height: 100%;
}

.frontCard {
  height: 230px;
  width: 430px;
  background: url(./assets/RectangleBack.png);
  margin-top: 100px;
  margin-left: 100px;
  border-radius: 10px;
}

.ellipse-big {
  margin: 25px 15px 20px 25px;
}

.ellipse-small {
  margin: 10px 10px 30px 0px;
}

.backCard {
    position: relative;
  height: 240px;
  width: 440px;
  background: url(./assets/Group6Back.png);
  margin-top: 50px;
  margin-left: 150px;
  border-radius: 10px;
  background-size: 100%;
  /* background-size:cover; */
}

.formPage {
  width: 30vw;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}

.third-line {
  display: flex;
}

form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 5;
}
.div2 {
  grid-area: 2 / 1 / 3 / 5;
}
.div3 {
  grid-area: 3 / 1 / 4 / 2;
}
.div4 {
  grid-area: 3 / 2 / 4 / 3;
}
.div5 {
  grid-area: 3 / 3 / 4 / 5;
}
.div6 {
  grid-area: 4 / 1 / 5 / 5;
}

.div4 label {
  visibility: hidden;
}

.div3 label {
  display: block;
}



button {
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.16px;
  border-radius: 6px;
  border: 1px solid #000;
  background: #220930;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
